.bg-transparent{
	background: rgba(255,255,255,0.3);
}

.bg-light-grey{
	background: #D7D7D7;
}

.z-index-99{
	z-index: 99 !important;
}

.btn-orange-outline{
	border: 2px solid orange;
	background: transparent;
	color: #91733B;
}
.btn-orange-outline:hover{
	color: white;
	background: orange;
}

.fab{
	font-size: 4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: grey;
}

.fas{
	font-size: 4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: grey;
}

.fab:hover{
	color: #686868;
}





p.lead{
	font-size: 1.1rem;
	margin-bottom: .4rem;
}


.row-jumbotron{
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(201,226,240,1) 30%, rgba(114,158,181,1) 100%);
}

.img-jumbotron{
	width: 100%;
}

.jumbotron{
	top: 0;
}

.jumbotron-container img{
	width: 100px;
	height: auto;
	border: 2px solid grey;
	border-radius: 50%;
}

section.skill{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

section.portfolio-section{
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}
.portfolio-container{
	overflow: hidden;
	margin-top: 1.5rem;
	transition: .4s all;
}

.portfolio-container img{
	background-size: 100%;
	height: 250px;
	background-size: cover;
	background-position: center;
	transition: .4s all;
}

.portfolio-container:hover,
.portfolio-container:focus{
	box-shadow: 1px 7px 12px 6px grey;
    transform: translate(0px, -10px);
}

section#contact{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

section#footer{
	background: #4F4F4F;
}

@media screen and (max-width:767px){
	.jumbotron{
		top: 0;
		height: 200px;
	}
	.jumbotron-container{
		margin-top: 3rem;
	}

	section#contact .fab,
	section#contact .fas{
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 991px){
	p.lead{
		font-size: 1.1rem;
	}
	ul.navbar-nav {
	    background: white;
	    padding-top: 1rem;
	    padding-bottom: 1rem;
	}
	.container-img{
		margin-bottom: -3rem;
	}
	.row-jumbotron{
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(201,226,240,1) 30%, rgba(114,158,181,1) 100%);
	}
	.jumbotron-container{
		padding-bottom: 2rem;
	}
}

@media screen and (min-width: 992px){
	ul.navbar-nav {
	    margin-left: auto;
	}
}

.slide-option{
	display: flex;
	flex-flow: nowrap;
	overflow-x: scroll;
	padding-bottom: .7rem;
	padding-top: 1rem;
}

.slide-option .logo-skill{
	border-radius: 11%;
	box-shadow: 0px 0px 5px 3px#80808066;
}

.slide-option::-webkit-scrollbar {
	display: none;
 }

 .slide-option::-moz-scrollbar {
	display: none;
 }